.common{
    background-color: #757575;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #a4a4a4;
}
.legendary{
    background-color: #e7c817 ;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ffe54f ;

}
.starter{
  background-color: #bbcbfa ;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #dbf8ff ;

}
.pseudo-legendary{
  background-color: #ff8f00 ;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #cf9a55 ;

}
.mythical{
    background-color: #971355 ;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #af3170 ;

}
.mega{
  background:linear-gradient(45deg,#016637,#018eb9,#176e02);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #296600 ;
}
.baby{
  background-color: #fa80bd ;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #faaad2 ;
}
.paradox{
  background:linear-gradient(0deg,#610c0c,#2e0b66);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #5f0f68 ;
}
.ultra-beast{
  background:linear-gradient(0deg,#2d9713,#188102);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #3bcf16 ;
}
.ancient{
  background:linear-gradient(0deg,#8d5017,#5a350a);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #83601f ;
}
.none{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff ;

}







/*--------------------------*/
.heart {
    width: 16px;
    height: 16px;
    position: relative;
    background-color: #d4d4d4; 
    transform: rotate(-45deg);
  }
  .heart::before,
  .heart::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #d4d4d4; 
    position: absolute;
  }
  .heart::before {
    top: -8px;
    left: 0;
  }
  .heart::after {
    top: 0;
    left: 8px;
  }






@media (max-width:515px) {
  .small-text{
    font-size: 15px;
  }
}
@media (max-width:470px) {
  .small-text{
    font-size: 13px;
  }
}
